<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- <title>Bootstrap Example</title> --}}

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/navbar.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
   {{!-- <link rel="stylesheet" href="assets/css/style.css"> --}}

</head>
<body>
    
     <header>
      <div>
          <div class="header-dark">
              <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
                  <div class="container"><a class="navbar-brand" href="/">
                              <div style="border-radius:100px; height:100px; width:100px; margin:0 auto;">
                                <img src="/logo.png" alt="" style=" border-radius:100px; height:100px; width:100px;" > My Recipe Book
                              </div>
                              <div class="collapse navbar-collapse" id="navcol-1">
                                  <ul class="nav navbar-nav" style="display: flex; justify-content: flex-end;">
                                      <li class="nav-item" role="presentation">
                                      </li>
                                  </ul>
                                  {{!-- <form class="form-inline mr-auto" target="_self"> --}}
                                  {{!-- <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input class="form-control search-field" type="search" name="search" id="search-field"></div> --}}
                              </div>
                              <a class="nav-link" href="/add">
                              <div style="border-radius:50px; height:50px; width:50px; margin:0 auto; display: flex; ">
                                <img src="/add.png" alt="" style=" border-radius:50px; height:50px; width:50px;  ">
                              </div></a>
                  </div>
              </nav>
              <div class="container hero">
                  <div class="row">
                      <div class="col-md-8 offset-md-2">
                          <h1 class="text-center">What will you bake today?</h1>
                          {{!-- <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item"><img src="logo.png"></iframe></div> --}}
                      </div>
                  </div>
              </div>
          </div>
      </div>
     </header>

    <container>
      {{{body}}}
    </container>
    
    <footer>
    {{!-- <div class="container my-5"> --}}
      <footer class="text-center text-white" style="background: url('/header.jpg');">
      <!-- Grid container -->
      <div class="container pt-4">
        <!-- Section: Social media -->
        <section class="mb-4">
          <!-- Facebook -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://www.facebook.com/"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fa fa-facebook" style="font-size:30px;color:brown"></i></a>
          
          <!-- Twitter -->
          

          <!-- Instagram -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://www.instagram.com/"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fa fa-instagram" style="font-size:30px;color:brown"></i></a>

          
          <!-- Github -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://github.com/ChipVi/APP"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fa fa-github" style="font-size:30px;color:brown"></i></a>

          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://www.linkedin.com/"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fa fa-linkedin" style="font-size:30px;color:brown"></i></a>
        </section>
      </div>

      <!-- Copyright -->
      <div class="text-center text-dark p-3" style="background-color: rgba(253, 159, 37, 0.2); font-weight: bold;">
        © 2024 Copyright: Nguyen Khanh Vi. See full code source on my GitHub
      </div>
      <!-- Copyright -->
    </footer>
      

    <!-- End of .container -->
    </footer>
  
</div>

   

<!-- Bootstrap JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
</html>
