<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
    <style>
      body {
        text-align: center;
        {{!-- padding: 40px 0; --}}
        {{!-- background: #cadeae; --}}
      }
        h1 {
          color: #ef9377;
          font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
          font-weight: 900;
          font-size: 40px;
          margin-bottom: 10px;
        }
        p {
          color: #404F5E;
          font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
          font-size:20px;
          margin: 0;
        }
      i {
        color: #9ABC66;
        font-size: 100px;
        line-height: 200px;
        margin-left:-15px;
      }
      .card {
        background: #f0c3b5;
        padding: 60px;
        border-radius: 4px;
        box-shadow: 0 2px 3px #C8D0D8;
        display: inline-block;
        margin: 3em auto;
      }
    </style>
    <body>
      <div class="card">
      <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
        {{!-- <i class="icon-trash"></i>icon-trash --}}
        <img src="/rac.png" alt="" style=" border-radius:200px; height:200px; width:200px;">
      </div>
        <h1>DELETE FAILED</h1> 
        <p>This Cake was already deleted</p>
      </div>
      <a href="/">
      {{!-- <div style="width: 30%; height: 40px; background-color:#a3ab87; display: flex; margin: 2em auto; text-decoration: none; color: rgb(255, 255, 255); padding: 2em auto; border-radius: 8px;">
        <h4>HOMEPAGE</h4></div> --}}
        <div><button type="button" class="btn btn-primary btn-lg mb-5" style="background-color:#a3ab87; border-line: none;">HOMEPAGE</button></div>
        
      </a>
      
    </body>
</html>